<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>用户注册</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="<?php echo C('PUBLIC_PATH')?>AmazeUI-2.6.2/assets/i/favicon.png">
  <link rel="stylesheet" href="<?php echo C('PUBLIC_PATH')?>AmazeUI-2.6.2/assets/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>

<div class="header">
  <div class="am-g">
    <h1>新用户注册</h1>
    <p>YFP 用户注册</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>注册</h3>
    <!-- <hr>
    <div class="am-btn-group">
      <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>
    </div>
    <br>
    <br> -->
      <div class="am-g">
        <div class="am-u-md-8 am-u-sm-centered">
          <form class="am-form" method="POST" action="<?php echo U('Admin/Index/register')?>">
            <fieldset class="am-form-set">
              <input type="text" placeholder="取个名字" name="username">
              <input type="text" placeholder="设个密码" name="password">
              <input type="text" placeholder="再次设个密码" name="checkword">
            </fieldset>
            <button type="submit" class="am-btn am-btn-primary am-btn-block">注册个账号</button>
          </form>
        </div>
      </div>
    <hr>
    <p></p>
  </div>
</div>
</body>
</html>
